<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <p:dataTable value="#{clienteController.listaCliente}" var="c">
            <p:column headerText="Nombre">
                <h:outputText value="#{c.nombre} #{c.apellido}"/>
            </p:column>
            <p:column headerText="direccion">
                <h:outputText value="#{c.direccion}"/>
            </p:column>
            <p:column headerText="Fecha de Nacimiento">
                <h:outputText value="#{c.fechaNacimiento}"/>
            </p:column>
            <p:column headerText="Telefono">
                <h:outputText value="#{c.telefono}"/>
            </p:column>
            <p:column headerText="email">
                <h:outputText value="#{c.email}"/>
            </p:column>
        </p:dataTable>
    </h:body>
</html>

